<div class="container">

    <!-- Navigation Bar -->
    <nav class="navbar mb-4 navbar-light">
        <div class="container-fluid">
            <div></div>
            <!-- Search Bar -->
            <div class="d-flex justify-content-end gap-2 rounded p-1 align-items-center ">
                <form class="d-flex justify-content-center bg-light gap-2 rounded p-1 align-items-center">
                    <span><i class="fa fa-search fa-xl" aria-hidden="true"></i> </span>
                    <input class="form-control p-2 border-0" type="search" placeholder="Search" aria-label="Search">
                </form>

                <!-- Button to Manage Categories -->
                <a routerLink="/addgift" class="btn btn-outline-dark border ">
                    Manage Category
                </a>
                <!-- Button to Add New Gift -->
                <div class="btn btn-dark">
                    <i class="fa fa-gift" aria-hidden="true"></i> Add new gift
                </div>
            </div>

        </div>
    </nav>

    <!-- Categories Navigation -->
    <div class="mb-2 categories-nav">
        <!-- Display categories as buttons -->
        <p class="border categories rounded-2" *ngFor="let category of categories">
            <button class="btn categories-btn" (click)="changeCategory(category)">{{ category }}</button>
        </p>
    </div>

    <!-- Table of Gifts -->
    <div class="table-responsive">
        <table class="table border-0 table-hover">
            <!-- Table headers -->
            <div class="d-flex justify-content-between   p-2 fw-bold bg-light ">
                <p>Serial No</p>
                <p>Gift name</p>
                <p>Gift image</p>
                <p>Category</p>
                <p>Value</p>
            </div>
            <!-- Display individual gifts in rows -->
            <div class="d-flex justify-content-between align-items-centerborder-bottom border-top py-3"
                *ngFor="let gift of selectedCategoryGifts">
                <p>{{ gift.id }}</p>
                <p>{{ gift.name }}</p>
                <p><img [src]="gift.imageUrl" alt="Gift Image" style="width: 50px; height: 50px;"
                        class="border rounded-2"></p>
                <p>{{ gift.category }}</p>
                <div class="d-flex justify-content-center align-items-center">
                    <p>{{ gift.value }}</p>
                    <p class="fa fa-edit" aria-hidden="true"></p>
                    <p class="fa fa-remove" aria-hidden="true"></p>
                </div>
            </div>
        </table>
    </div>

</div>
