.categories-nav{
    display: flex;
    gap: 20px;

}
.categories:hover{
    background-color: rgb(37, 35, 35);
    color: white;
}

.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 8px;

  }
  
  .table th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .table td {
    border: 1px solid #ddd;
  }
  
  .table img {
    display: block;
    margin: 0 auto;
  }
  
  .table tbody tr:last-child td {
    border-bottom: none;
  }
  
  .table tbody tr:first-child td {
    border-top: none;
  }
  