.left-sidebar {
    /* width: 200px; */
    height: 100% ;
    background-color: #f1f1f1;
    padding: 10px;
  }
  
  .left-sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left-sidebar li {
    margin-bottom: 10px;
  }
  
  .left-sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px;
  }
  
  .left-sidebar a:hover {
    background-color: #ddd;
  }
  
  /* Add media query for responsiveness */
  @media (max-width: 768px) {
    .left-sidebar {
      width: 100%;
    }
  }
  