<nav class="left-sidebar">
  <ul>

    <li>
      <a routerLink="/">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="nav-item-name">Rooms</span>
      </a>
    </li>
    <li>
      <a routerLink="/gift-home">
        <i class="fa fa-gift" aria-hidden="true"></i>
        <span class="nav-item-name">Gifts</span>
      </a>
    </li>
    <li>
      <a routerLink="/coin-home">
        <i class="fas fa-coins"></i>
        <span class="nav-item-name">Coins</span>
      </a>
    </li>
    <li>
      <a routerLink="/report-home">
        <i class="fa fa-deafness" aria-hidden="true"></i>
        <span class="nav-item-name">Reports</span>
      </a>
    </li>
    <!-- Add more navigation items as needed -->
  </ul>
</nav>