<div class="container mx-auto mt-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <!-- Card 1 -->
        <div class="col">

            <div class="border p-4 d-flex justify-content-between gap-4 items-center rounded-2">
                <div>
                    <p class="font-semibold">Total coin purchased</p>
                    <h5 class="text-xl font-bold">5000</h5>
                </div>
                <div class="ml-2">
                    <i class="fa fa-circle text-blue-500" aria-hidden="true"></i>
                </div>
            </div>

        </div>

        <!-- Card 2 -->
        <div class="col">

            <div class="border p-4 d-flex justify-content-between gap-4 items-center rounded-2">
                <div>
                    <p class="font-semibold">Total coin purchased</p>
                    <h5 class="text-xl font-bold">5000</h5>
                </div>
                <div class="ml-2">
                    <i class="fa fa-circle text-blue-500" aria-hidden="true"></i>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col">

            <div class="border p-4 d-flex justify-content-between gap-4 items-center rounded-2">
                <div>
                    <p class="font-semibold">Total coin purchased</p>
                    <h5 class="text-xl font-bold">5000</h5>
                </div>
                <div class="ml-2">
                    <i class="fa fa-circle text-blue-500" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- card-4 -->
        <div class="col">

            <div class="border p-4 d-flex justify-content-between gap-4 items-center rounded-2">
                <div>
                    <p class="font-semibold">Total coin purchased</p>
                    <h5 class="text-xl font-bold">5000</h5>
                </div>
                <div class="ml-2">
                    <i class="fa fa-circle text-blue-500" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>



    <div class="container row ">
        <div class="table-responsive col-lg-6">
            <div class="d-flex justify-content-between">
                <h1>Buying price</h1>
                <p><i class="fa fa-history" aria-hidden="true"></i></p>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Package name</th>
                        <th>coin</th>
                        <th>Buying price</th>
                        <th>Offer price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>---</td>
                        <td><i class="fas fa-coins    "></i> 10</td>
                        <td>$20</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>---</td>
                        <td>Item 2</td>
                        <td>$25</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>---</td>
                        <td>Item 3</td>
                        <td>$15</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive col-lg-6">
            <div class="d-flex justify-content-between">
                <h1>Cash out price</h1>
                <p><i class="fa fa-history" aria-hidden="true"></i></p>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Package name</th>
                        <th>coin</th>
                        <th>Buying price</th>
                        <th>Offer price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>---</td>
                        <td><i class="fas fa-coins    "></i> 10</td>
                        <td>$20</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>---</td>
                        <td>Item 2</td>
                        <td>$25</td>
                        <td>---</td>
                    </tr>
                    <tr>
                        <td>---</td>
                        <td>Item 3</td>
                        <td>$15</td>
                        <td>---</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>