.table-container {
    margin-top: 20px;
  }

  .table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }

  .table-container th,
  .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  .table-container th {
    background-color: #f2f2f2;
  }