.white-background {
    background-color: rgb(14, 8, 8);
    color: rgb(250, 247, 247); /* You can set the text color to black or any other color that suits your design */
}
.btn-hover:hover{

    background-color: black;
    color: white;

}

.red{
    border-radius: 4px;
    background-color: #f25037;
}
.yellow{
    border-radius: 4px;
    background-color: #FFC044;
}
.green{
    border-radius: 4px;
    background-color: #468276;
}

.primary-font{
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    font-family:  Roboto;
}
.endroom{
    color: #f25037;
    font-size: 14px;
    font-weight: 500;
}
.report{   
    font-size: 14px;
    font-weight: 500;
}